@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
@import url("https://fonts.googleapis.com/css?family=Permanent+Marker");
@import url("https://fonts.googleapis.com/css?family=Rancho");

//Variables
$primary-color: #444;
$primary-text-color: white;
$secondary-text-color: #ff8f00;
$opacity: 0.9;
$box-shadow: 0 0 40px -10px #000;

//Mixins
@mixin easeOut {
  transition: all 0.5s ease-out;
}

@mixin padding($value) {
  padding: $value;
}

@mixin margin($value) {
  margin: $value;
}

//Effects
@keyframes zoomInOut {
  0% {
    transform: scale(0, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-3px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(3px, 0, 0);
  }
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

//mixins for responsiveness
@mixin mediaMedium {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin mediaSmall {
  @media only screen and (max-width: 425px) {
    @content;
  }
}

@mixin mediaLaptop {
  @media only screen and (max-width: 1340px) {
    @content;
  }
}
