@include mediaLaptop {
  body {
    .skills-section {
      @include padding(3rem 10%);
    }
  }
  .skills-section {
    .skill-wrapper {
      display: flex;
      flex-flow: column nowrap;

      .current-wrapper {
        margin-bottom: 1rem;
      }
      .ongoing-wrapper {
        margin-top: 1rem;
      }
      .subject {
        .individual-sub {
          @include padding(0.2rem);
        }
      }
    }
  }

  .projects-container {
    .proj {
      font-size: 1rem;
    }
  }
}

// Medium Size for Tablets 768px
@include mediaMedium {
  .intro {
    h1 {
      padding-bottom: 1.5rem;
    }
  }

  .projects-container {
    .proj {
      display: flex;
      flex-flow: column;
      font-size: 1rem;
      padding-left: 1rem;
      i {
        font-size: 3rem;
      }
    }
  }
}

//Small Size for Mobile 475px
@include mediaSmall {
  .image-container {
    .avatar {
      content: url(../img/me1.png);
    }
  }

  .bgimg-1 {
    .caption {
      @include padding(1rem 2rem);

      .lg-heading {
        font-size: 3rem;
        margin-top: 1rem;
        line-height: 3rem;
      }

      .sm-heading {
        margin-bottom: 1.5rem;
        font-size: 20px;
      }
      .icons {
        @include padding(1.5rem 0 0 0);
        font-size: 1rem;
        line-height: 2rem;
      }
    }
  }

  body {
    .skills-section {
      @include padding(3rem 5%);
    }
  }

  .projects {
    .projects-container {
      flex-flow: column;
      justify-content: center;
      @include padding(1rem 1rem 0 1rem);
      .proj {
        @include margin(1rem 0);
        width: 90%;
      }
    }
  }

  .contact-section {
    .contact {
      @include padding(3rem 5% 4rem 5%);

      .contact-container {
        @include padding(1rem 1rem 2rem 1rem);

        h1 {
          font-size: 24px;
          letter-spacing: 0.2rem;
        }
      }

      //floating mail details
      #manual {
        right: 4%;
        transform: translateY(-30%);
      }
    }
  }
}
