//Projects
.projects {
  @include padding(3rem 5%);
  // background-image: linear-gradient(260deg, #ddf0f8 0%, #ace0f9 100%);
  background-image: linear-gradient(120deg, #fdfbfb 0%, #eeeff0 100%);
}

.projects-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.proj {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  width: 20%;
  height: 250px;
  background: #eee;
  color: #444;
  font-size: 1.2rem;
  box-shadow: 15px -15px 0px 0px #444;
  text-overflow: ellipsis;

  i {
    @include margin(0 1rem);
    font-size: 2rem;
  }
}
.proj:hover {
  box-shadow: 0 0 30px -10px #000;
  transform: translate(2%, -6%);
  transition: all 0.3s ease-out;
}
