//Skills Section
.skills-section {
  color: $primary-color;
  text-align: center;
  @include padding(3rem 5%);
  // background-image: linear-gradient(120deg, #37ecba 0%, #72afd3 100%);
  background-image: linear-gradient(120deg, #fdfbfb 0%, #eeeff0 100%);
}

.skill-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  h2 {
    margin-top: 1rem;
  }
}

.current-wrapper,
.ongoing-wrapper {
  display: flex;
  flex-flow: column wrap;
  box-shadow: $box-shadow;
  border-radius: 8px;
  @include padding(1rem);
  background: white;
}

.subject {
  display: flex;
  flex-flow: row wrap;
  @include margin(1.5rem 0);
  justify-content: center;
}

.individual-sub {
  display: flex;
  align-items: center;
  justify-content: center;
  @include margin(0rem 1rem);
}
